# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# VS Code
.vscode/

# Logs
*.log

# ChromaDB
rag/vector_db/

# Database
*.db
*.sqlite3

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db